<h3>Here is a single post of a given user</h3>
<h2><%= "Post ##{@post.id} by #{@post.author.name}"%></h2>
<div class="show-post">
  <%= render @post %>
    <div class="actions">
        <% if can? :destroy, @post %>
      <%= button_to 'Delete post', user_post_path(@post.author, @post), method: :delete, class: 'actions__button' %>
    <% end %>
    <%= link_to 'Add a new comment', new_user_post_comment_path(@user, @post), class: 'actions__button' %>
    <%= button_to 'Like', user_post_likes_path(@user, @post), method: :post, class: 'actions__button' %>
  </div>
  <% unless @post.comments.empty? %>
    <h4 class="users-comments">
      <% @post.comments.includes(:author).each do |comment| %>
        <%= "#{comment.author.name}: #{comment.text}" %><br>
                <% if can? :destroy, comment %>
          <%= button_to 'Delete comment', user_post_comment_path(comment.author, @post, comment ), method: :delete, class: 'actions__button' %>
        <% end %>
        <br>
      <% end %>
    </h4>
  <% end %>
</div>
